/* footer styles */

footer{
  background: #242507;
  border-top: 10px solid #181007;
}

footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 300;
  padding: 1rem 0 2rem 0;
}

footer ul {
  list-style: none;
  margin-top: 1rem;
}

footer ul li, footer ul li a {
  color:rgba(255,255,255,0.8);
  font-size: 1.2rem;
  padding: 0.2rem 0;
}

footer img.footer-logo {
  opacity: 0.8;
  padding: 1rem;
  width: 125px;
}
