/* home styles */
img {width: 100%}

body{
  color:#555;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

section{
  margin-bottom: 1rem;
}

p{
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.vision-point{
  margin-bottom: 3.5rem;
}

.vision-point strong{
  color: #b8d454;
  text-transform: uppercase;
}

.margin-tb-2{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.btn-sm{ margin-top: -4px;}

.btn-primary { padding: 0.5rem 1rem}

.thumbnail{
  border: 1px solid #999;
  border-radius: 0;
}

.button {
  display: inline-block;
  /*margin-top: 1rem;*/
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  background: #b8d454;
  border-radius: 5px;
  border: 1px solid #90a839;
  color: #fff !important;
  /*padding: 5px 10px;*/
  transition: all 0.2s;
}

.button:hover{
  background: #80972e;
  border-color: #4c591b;
  text-decoration: none;
}



.side-margins{
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}
.section-title {
  color: #b8d454;
}

.values-text{
  font-weight: bold;
  color:#777;
  font-size: 1.35rem;
}

.values-list{
  list-style: none;
  color:white;
  margin: 0;
  padding: 0;
}

.values-list li {
  padding: 0.4rem 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.about-us-image{
 /*padding: 0 3rem;*/
}
.about-us-image img{
  border: 1px solid #999;
  padding: 10px;
  /*margin: 2rem 0;*/
}

.values-green-box {
  background: #78850A;
  padding: 3rem 1rem;
  margin: 4rem 3rem 0 3rem;
  border-radius: 6px;
}

@media (min-width: 980px) {
  .pipes-bg{
    background: url('../images/tuberia_fondo.png') no-repeat top right;
  }
}

h6 {
  margin: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

h4.subtitle{
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 25px;
  border-bottom: 2px solid;
  padding-bottom: 15px;
}

.pipes {background: url('../images/pipes-bg.png') no-repeat right;}

h5.subtitle{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 25px;
}

.subtitle{
  color: #b8d454;
  font-weight: bold;
  /*margin-right: 20px;*/
}

/* --------------------- home hero  --------------------- */

section.hero{
  background: url('/images/home-hero-bg.jpg');
  background-size: cover;
  background-position: 0 70%;
  margin-bottom: 0;
}

@media (min-width: 1100px) {
  section.hero{
    height: 240px;
  }
}

@media (max-width: 1099px) {
  section.hero{
    height: 170px;
  }
}

/* -------------------- home hero end  ------------------- */

/* --------------------- mini hero  --------------------- */

section.mini-hero{
  background: url('/images/home-hero-bg.jpg');
  background-size: cover;
  background-position: 0 70%;
  margin-bottom: 0;
  border-bottom: 10px solid #181007;
}

@media (min-width: 1100px) {
  section.mini-hero{
    height: 100px;
  }
}

@media (max-width: 1099px) {
  section.mini-hero{
    height: 80px;
  }
}

/* -------------------- mini hero end  ------------------- */

.main-slogan{
  padding: 0.85em;
  background: #231E1E;
}

.main-slogan h4{
  color:white;
  line-height: 2.8rem;
  font-size: 1.65rem;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}
.alliances-logos{
  margin: 0 auto;
  list-style: none;
}

.alliances-logos img {
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.4s;
    filter: grayscale(100%);
    max-width: 150px;
    transition: all 0.4s;
}

.alliances-logos img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
